
/***************************
		* Caja  *

***************************/

/*zebra-stripe Caja list views, must be done for EVERY row as odd/even does not work: 
  Unfortunately rows in treeviews do not get a cssnode of any kind for theming and 
  do not seem to be exposed in any way. Yet the treeview model as rendered for the user
  is based on selectable rows. Use a hackish workaround as a result*/

.caja-navigation-window paned paned treeview.view {
		background-image: linear-gradient(to bottom,
					  #e0e0e0,
					  #ececec 50%,
					  #fdfdfd 50%,
					  #ffffff);

/*This sort of thing SHOULD be able to be made to work but so far I have NOT found a way to do so
		-GtkTreeView-allow-rules: true;
		-GtkTreeView-rules_hint: true;
		-GtkTreeView-even-row-color: #dddddd;
        -GtkTreeView-odd-row-color: #ffffff;
*/
}

/*list view "row" hover background lighter than for selected row*/
.caja-navigation-window paned paned treeview:hover {
	background-color: @theme_base_color;
	background-image: linear-gradient(to bottom,
					  alpha(@menu_gradient_color_a, 0.5),
	                                  alpha(@menu_gradient_color_b, 0.5) 50%,
	                                  alpha(@menu_gradient_color_c, 0.5) 50%,
					  alpha(@menu_gradient_color_d, 0.5)); 
	color:@theme_text_color;
}

/*list view selected "row" background */
.caja-navigation-window paned paned treeview.view:selected{
	background-image: linear-gradient(to bottom,
					  @menu_gradient_color_a,
	                                  @menu_gradient_color_b 50%,
	                                  @menu_gradient_color_c 50%,
					  @menu_gradient_color_d); 
	color: @theme_fg_color;
}

/*anything disabled-keep it readable*/
.caja-navigation-window paned paned treeview:disabled {
	color: @theme_bg_color;
}


.caja-canvas-item {
	border-radius: 3px;
}

.caja-desktop .caja-canvas-item {
    color: white;
    text-shadow: 1px 1px alpha(#000000, 0.6);
    border-color:#000000;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}

.caja-canvas-item:active,
.caja-canvas-item:selected {
    background-color: @theme_selected_bg_color;
}

/*Theme caja rename entry, use no border on desktop*/

.caja-desktop  .entry {
	background-color:@theme_base_color;
	color:#000000;
	padding: 6px;
	border-radius: 3px;
	box-shadow: inset 2px 3px alpha(black, 0.2),
	            inset 2px 2px alpha(black, 0.2),
	            inset 1px 1px alpha(black, 0.3);
}


/*use rename entry border in caja navigation windows*/

.caja-navigation-window .view .entry{
	background-color:@theme_base_color;
	color:#000000;
	padding: 6px;
	border-color:#000000;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	box-shadow: inset 2px 3px alpha(black, 0.2),
	            inset 2px 2px alpha(black, 0.2),
	            inset 1px 1px alpha(black, 0.3);
}

.caja-navigation-window .view .entry:backdrop {
	box-shadow: none;
}

.caja-desktop .entry:selected,
.caja-desktop .entry:active, 
.caja-navigation-window .view .entry:selected,
.caja-navigation-window .view .entry:active { 
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}


/*theme the Caja trashbar, infobar*/
#caja-extra-view-widget { 
	background-color: @info_bg_color;
}

/*Caja Backgrounds and Emblems dialog*/
window.background>box>box>box>scrolledwindow>viewport.frame {
    background-color: @theme_base_color;
}

/*Caja sidebar */

.caja-side-pane notebook{
	border-image: none;
	border-width: 0px;
}

/*fix information pane unreadable labels*/
.caja-side-pane notebook stack box>box>label{
	color:@theme_text_color;
}

/*Smaller scrollbars in sidebar */

.caja-side-pane scrollbar slider,
.caja-side-pane scrollbar button{
	min-width: 10px;
}

/*Scale the separator to match the scrollbar */

.caja-navigation-window paned separator{
	min-width: 4px;
}

/*Theme the combobox button to match GTK2 version      */
/*Normal button bg image excluded from toolbar buttons */
/*Bring it back for this one                           */

.caja-navigation-window button.combo{
	background-image: linear-gradient(to bottom,
				@button_gradient_color_a,
					@button_gradient_color_b 50%,
					@button_gradient_color_c 50%,
				@button_gradient_color_d);

	outline-style:solid;
	outline-color: alpha(@theme_selected_bg_color, 0.4);
}

/*Backgrounds and Emblems dialog text*/

.caja-property-browser viewport>widget label{
	color: black;
}

/***************************
		* Nemo *

***************************/

.nemo-window scrolledwindow.view,
.nemo-window scrolledwindow.nemo-places-sidebar {
	background-color: @theme_base_color;
}

/*Nemo treeviews*/

.nemo-window scrolledwindow treeview.view{
		background-image: linear-gradient(to bottom,
					  #e0e0e0,
					  #ececec 50%,
					  #fdfdfd 50%,
					  #ffffff);
}

/*list view hover colors*/
.nemo-window scrolledwindow  treeview:hover {
	background-color:@theme_base_color;
	background-image: linear-gradient(to bottom,
					  alpha(@menu_gradient_color_a, 0.5),
	                                  alpha(@menu_gradient_color_b, 0.5) 50%,
	                                  alpha(@menu_gradient_color_c, 0.5) 50%,
					  alpha(@menu_gradient_color_d, 0.5)); 
	color:@theme_text_color;
}

.nemo-window scrolledwindow treeview.view:selected,
.nemo-window scrolledwindow treeview.view:active{
	background-image: linear-gradient(to bottom,
					  @menu_gradient_color_a,
	                                  @menu_gradient_color_b 50%,
	                                  @menu_gradient_color_c 50%,
					  @menu_gradient_color_d); 
	color: @theme_fg_color;
}

/*anything disabled-keep it readable*/
.nemo-window scrolledwindow treeview:disabled {
	color: @theme_bg_color;
}

/*nemo sidebar*/

.nemo-window treeview.places-treeview.view{
	padding: 1px;
    background-image: none;
	border-width: 0px;
}

.nemo-window treeview.places-treeview.view:hover{
	background-color: @theme_fg_color;
	background-image: linear-gradient(to bottom,
					  alpha(@menu_gradient_color_a, 0.4),
	                                  alpha(@menu_gradient_color_b, 0.4) 50%,
	                                  alpha(@menu_gradient_color_c, 0.4) 50%,
					  alpha(@menu_gradient_color_d, 0.4)); 
	color:@theme_text_color;
}

/*Scale the separator to match the scrollbar */

.nemo-window paned separator{
	min-width: 4px;
}

.nemo-window  toolbar.primary-toolbar button.text-button{
	color: @theme_fg_color;
	background-image: none;
	background-color: transparent;
	border-color: #222222;
	border-width: 1px;
	border-radius: 2px;

}

/*Nemo canvas items*/

.nemo-canvas-item{
	border-radius: 3px;
}

.nemo-desktop .nemo-canvas-item{
    color: white;
    text-shadow: 1px 1px alpha(#000000, 0.6);
    border-color:#000000;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}

/*Nemo rename entries*/
/*use border in nemo rename entry other than on the desktop*/

.nemo-window  .view .entry{
	background-color:@theme_base_color;
	color:#000000;
	padding: 6px;
	border-color:#000000;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	box-shadow: inset 2px 3px alpha(black, 0.2),
	            inset 2px 2px alpha(black, 0.2),
	            inset 1px 1px alpha(black, 0.3);
}

/*No border when on the desktop*/
.nemo-desktop.view .entry {
	background-color:@theme_base_color;
	color:#000000;
	padding: 6px;
	border-color:transparent;
	border-width: 0px;
	border-radius: 3px;
	box-shadow: inset 2px 3px alpha(black, 0.2),
	            inset 2px 2px alpha(black, 0.2),
	            inset 1px 1px alpha(black, 0.3);
}

.nemo-window scrolledwindow .entry:selected,
.nemo-window scrolledwindow .entry:active,
.nemo-window  .view .entry:selected,
.nemo-window  .view .entry:active { 
	background-color: @theme_selected_bg_color;
	color: @theme_fg_color;
}

.nemo-desktop .entry:backdrop,
.nemo-desktop.view .entry:backdrop {
	box-shadow: none;
}

/***************************
		* Nautilus *

***************************/

/*Requires Nautilus 3.20 or later to not
put the navigation window folder on the background*/

.nautilus-window scrolledwindow {
	background-color: @theme_base_color;
	margin-right:0px;
}	

.nautilus-window notebook scrolledwindow:not(.view) scrollbar.horizontal{
	margin-bottom: 0px;
}

nautilus-desktop-window.nautilus-window  scrolledwindow, /*Nautilus before the separate desktop binary*/
.nautilus-desktop-window scrolledwindow { 				 /*Nautilus with the separate desktop binary*/
	background-color: transparent;
}

/*Nautilus treeviews*/

.nautilus-window overlay>scrolledwindow>*>treeview.view	 {                          			
		background-image: linear-gradient(to bottom,
					  #e0e0e0,
					  #ececec 50%,
					  #fdfdfd 50%,
					  #ffffff);
}

/*list view hover colors*/
.nautilus-window overlay>scrolledwindow>*>treeview:hover {
	background-color: @theme_base_color;
	background-image: linear-gradient(to bottom,
					  alpha(@menu_gradient_color_a, 0.5),
	                                  alpha(@menu_gradient_color_b, 0.5) 50%,
	                                  alpha(@menu_gradient_color_c, 0.5) 50%,
					  alpha(@menu_gradient_color_d, 0.5)); 
	color:@theme_text_color;
}

.nautilus-window overlay>scrolledwindow>*>treeview.view:selected,
.nautilus-window overlay>scrolledwindow>*>treeview.view:active{
	background-image: linear-gradient(to bottom,
					  @menu_gradient_color_a,
	                                  @menu_gradient_color_b 50%,
	                                  @menu_gradient_color_c 50%,
					  @menu_gradient_color_d); 
	color: @theme_fg_color;
}

/*anything disabled-keep it readable*/
.nautilus-window overlay>scrolledwindow>*>treeview:disabled {
	color: @theme_bg_color;
}

/*Fix ugly white corners over list view scrollbars*/
.nautilus-list-view scrolledwindow{
	background-color:transparent;
}


.nautilus-canvas-item {
	border-radius: 3px;
}

.nautilus-desktop .nautilus-canvas-item{
    color: white;
    text-shadow: 1px 1px alpha(#000000, 0.6);
    border-color:#000000;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}

.nautilus-canvas-item:active,
.nautilus-canvas-item:selected {
    background-color: @theme_selected_bg_color;
}

.nautilus-window list row {
	padding: 0px;
}

/*Scale the separator to match the scrollbar */
.nautilus-window paned separator{
	min-width: 4px;
}

/***********************
 * Pluma*
 ***********************/

/*Remove notebook border */

.pluma-window notebook{
	border-style: none;
	border-image: none;
}

/*Remove excess "border" inside scrollbars from incompletely expanded textview*/

.pluma-window notebook scrolledwindow{
	background-color: @theme_base_color;
}

/***********************
 * SpaceFM *
 ***********************/
/*This is the only way to support SpaceFM in GTK 3.20 right now */
/*Be advised Debian's SpaceFM build does not work with GTK 3.22 for rendering the desktop */

window>box.vertical>paned.vertical>paned.vertical>paned.horizontal>notebook>stack>box>paned>scrolledwindow {
	background-color: @theme_base_color;
}
/***********************
 * Mate-Control-Center *
 ***********************/

/* background */
window#MyControlCenter  scrolledwindow .view,
window#MyControlCenter  scrolledwindow .view>box{
    background-color: shade(@theme_bg_color, 1.05);
}


window#MyControlCenter #slab_section_style2 button:not(:hover) {
	background-color:transparent;
	background-image: none;
	border-image: none;
	border-color:transparent;
}

window#MyControlCenter #slab_section_style1 button{
	background-image: none;
	border-image:none;
	border-color: transparent;
	background-color:transparent;
	padding: 4px 2px;
}

window#MyControlCenter #slab_section_style1 button:hover,
window#MyControlCenter #slab_section_style1 button:selected,
window#MyControlCenter #slab_section_style1 button:active{
	padding: 4px 2px;
	border-color: alpha(@theme_text_color, 0.5);
	background-image: linear-gradient(to bottom,
					  @menu_gradient_color_a,
	                                  @menu_gradient_color_b 50%,
	                                  @menu_gradient_color_c 50%,
					  @menu_gradient_color_d); 
}

/****************
 * Mate-settings-daemon *
 ****************/

/*For mate-settings-daemon noncomposited osd windows*/
.msd-osd-window-solid {
	border-radius:0px;
}


/****************
 * Mate-terminal *
 ****************/

/* workaround for broken size with gtk+-3.20 by raveit65  */
window.background.mate-terminal box.vertical {
    min-width: 640px;
    min-height: 380px;
}

/* Fix tabs going transparent */
/*workaround for https://github.com/mate-desktop/mate-terminal/issues/240 */
window.mate-terminal notebook {
	background-color: @theme_bg_color;
}


/*****************************
 * MATE keyboard layout view *
 *****************************/

/* mate-keyboard-layout-view, mate-keyboard-layout-chooser */
/* this way it styles only the border of the keys, the bg of the map itself
   use the .view class from code */

matekbd-keyboard-drawing {
    background-color: shade (@theme_bg_color, 1.0);
}

matekbd-keyboard-drawing:selected {
        background-color: @theme_selected_bg_color;
        color: @theme_selected_fg_color;
}

/***********************
 * Gnome-tweak-tool *
 ***********************/

.tweak-group row,
.tweak-group>row:focus,
.tweak-group>row:hover,
.tweak-group>row:active
.tweak-group>row:hover:focus,
.tweak-group>row:active:focus,
.tweak-group>row:hover:active:focus{
	background-color: shade(@theme_bg_color,0.9);
	background-image: none;
	border-image: none;
	border-color:transparent;
}


.tweak-group row label,
.tweak-group-startup row label,
.tweak-group row:hover label,
.tweak-group-startup row:hover label,
.tweak-group row image,
.tweak-group-startup row image,
.tweak-group row:hover image,
.tweak-group-startup row:hover image{
	color:@theme_fg_color;
}

.tweak-group viewport row.activatable box label{
	color:@theme_text_color;
}

.tweak-category:selected,
.tweak-category:active { 
	background-image: linear-gradient(to bottom,
					  @menu_gradient_color_a,
	                                  @menu_gradient_color_b 50%,
	                                  @menu_gradient_color_c 50%,
					  @menu_gradient_color_d); 
	color: @theme_fg_color;
}


box.vertical>stack.main-container expander *,
.tweak-category:selected label,
.tweak-category:active label{
	color:@theme_fg_color;
}


#ShellExtensionTweakGroup.tweak-group row label,
#ShellExtensionTweakGroup.tweak-group row:hover label{
	color:@theme_text_color;
}


/***********************
 * Gnome-disks *
 ***********************/

/*this is a hack for a widget with no name containing an unlabelled label (no css node)*/

window>box>paned>notebook>stack>box>*>box.vertical>box.vertical>box.horizontal>*>* {
	color:#000000;	
}


/***********************
 * Yelp (help browser) *
 ***********************/

.yelp-find-frame {
	color: black;
	border-width: 10px;
	border-style: solid;
	border-color: red;
}

/*Get the CSD theme off the headerbar when it's within an SSD window!*/
/*FIXME -what else does this affect*/

headerbar.primary-toolbar.toolbar{
	background-image: none;
}

/***********************
 * Cinnamon-settings *
 ***********************/

.cs-category-view,
.cs-category-view iconview {
	background-color: @theme_bg_color;
}

.cs-category-view iconview.view.cell{
	color: #ffffff;
}

/********************************************
 *CCSM (GTK 3 version as in compiz-reloaded)*
 ********************************************/

/*Match mate-control-center*/
.ccsm-window>box,
.ccsm-window>box.horizontal>box.vertical viewport,
.ccsm-window .frame.view{
	background-color: shade(@theme_bg_color, 1.05);
}

/*ccsm sidebar*/
.ccsm-window>box.horizontal>box.vertical{
	background-color: @theme_bg_color;
}

/*ccsm main window*/
.ccsm-window button.flat:not(:hover):not(:active):not(:selected){
	background-image: none;
	border-image: none;
	border-color: transparent;
	color: @theme_text_color;
}

/*Keep the theme the same in expander-controlled sections*/
.ccsm-window expander,
.ccsm-window expander treeview .header,
.ccsm-window expander *{
	color: @theme_fg_color;
}

/*Deal with the fallout in treeviews*/
.ccsm-window expander treeview :not(:selected){
	color: @theme_text_color;
}

/*Spinbuttons have white label backgrounds so set their text dark*/
.ccsm-window spinbutton,
.ccsm-window expander spinbutton{
	color: @theme_text_color;
}

/**********************************
 * nm-applet (network-manager-gnome *
 **********************************/

/*Keep the border image off password dialog entry areas*/
/*Cover both old and newer versions of network-manager-applet*/
dialog>box>box>box>grid>box>notebook,
dialog>box>grid>grid>box>notebook{
	border-image: none;
}

/***********************
 * Firefox *
 ***********************/
/*Firefox 49 is a broken mess in GTK 3.20 or later and needs this */
/*Let's exclude as many unwanted matches as possible and if that fails keep it subtle*/

window.background>widget>:not(widget):not(box):not(tab):not(notebook):not(stack):not(frame)>scrolledwindow.frame {
	border-style: solid;
	border-color: @theme_bg_color;
	border-width: 1px;

}

