/*********
* panel *
*********/


#panel_window {
	background-color: alpha(black, 0.9);
	color: white;
	font-weight: bold;
    border-radius: 0px;
    border-width: 0px;
    border-style: none;
}

#panel_window menubar {
	background-color: transparent;
}

#panel_window menubar window {
	background-color: #364027;
}

#panel_window menubar menu{
	background-color: alpha(black, 0.9);
	border-style: solid;
	border-color: #888a85;
	border-width: 3px;
	border-radius:10px;
	font-weight: normal;
}

#panel_window menubar menuitem,
#panel_window menubar menuitem:selected,
#panel_window menubar menuitem:active {
	padding: 4px 8px;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
}

/*round the outside corners of top and bottom menuitems to fit inside the border */
#panel_window menuitem:first-child{
	border-radius: 14px 14px 3px 3px;
	border-image: none;
	border-color:transparent;
}

#panel_window  menuitem:last-child {
	border-radius: 3px 3px 14px 14px;
	border-image: none;
	border-color:transparent;
}


#login_window
	{
	background-color:alpha(black, 0.9);
    color: white;
	border-style: solid;
	border-color: #888a85;
	border-width: 3px;
	border-radius:10px;
	box-shadow: none;
}

#login_window>*>*, 
#login_window entry,
#buttonbox_frame,
#user_image{
	background-color: transparent;
	color: white;
	box-shadow: 0px 0px 0px 0px alpha(black, 0.0);
	caret-color:#ffffff;

}

#shutdown_dialog,
#restart_dialog
 {
    background-color:alpha (black, 0.9);
    color: white;
	border-style: solid;
	border-color: #888a85;
	border-width: 3px;
	border-radius:10px;
	box-shadow: 0px 0px 0px 0px alpha(black, 0.0);

}


#login_window #user_combobox,
#login_window #user_combobox button {
	padding: 2px 4px 2px 4px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	color: @theme_fg_color;
	background-image: none;
	background-color:transparent;	

}

#login_window #user_combobox window.popup{

	background-color:transparent;
}

#login_window #user_combobox menu{
	background-color: alpha(black, 0.9);
	border-style: solid;
	border-color: #888a85;
	border-width: 3px;
	border-radius:10px;
	font-weight: normal;
}

/*round the outside corners of top and bottom menuitems to fit inside the border */
#login_window #user_combobox menu menuitem:first-child{
	border-radius: 14px 14px 3px 3px;
	border-image: none;
	border-color:transparent;
}

#login_window #user_combobox menu  menuitem:last-child {
	border-radius: 3px 3px 14px 14px;
	border-image: none;
	border-color:transparent;
}
