/*********************************
 * MATE Panel, Fallback Mode Panel
 *********************************/
/*Default to transparent*/
.gnome-panel-menu-bar,
.mate-panel-menu-bar{
        background-color: transparent;
}

/*Theme panel toplevel and applets (GtkPlugs)*/
/*Note that plugs render over the desktop, NOT the panel BG */

panel-toplevel.background,
PanelToplevel.mate-panel-menu-bar,
#PanelPlug{
	background-image: linear-gradient(to bottom,
						#303030,
						#1f1f1f 22%,
						#141414 32%,
						#040404 50%,
						#141414 68%,
						#1f1f1f 78%,
						#303030);
	color: white;
	outline-offset: 1px;
	outline-color: @theme_selected_bg_color;
}

/*Handle the vertical panel case, just like theming a scrollbar */
panel-toplevel.background.vertical,
PanelToplevel.mate-panel-menu-bar.vertical,
#PanelPlug.vertical{
	background-image: linear-gradient(to right,
						#303030,
						#1f1f1f 22%,
						#141414 32%,
						#040404 50%,
						#141414 68%,
						#1f1f1f 78%,
						#303030);
}

/*Keep box-shadow off anything from the panel*/
.gnome-panel-menu-bar,
.gnome-panel-menu-bar,
.gnome-panel-menu-bar .window-frame, 
.mate-panel-menu-bar .window-frame
.gnome-panel-menu-bar .window-frame.csd,
.mate-panel-menu-bar .window-frame.csd,
.gnome-panel-menu-bar .window-frame.csd.popup,
.mate-panel-menu-bar .window-frame.csd.popup {
		box-shadow: none; 
}

/*Theme drag handles for subtle visibility*/

PanelWidget * {

	background-color:alpha(@theme_bg_color, 0.3 );
}

PanelWidget * * {

	background-color:transparent;
}

/*Ensure menu bar background stays transparent */
.mate-panel-menu-bar PanelMenuBar {
	background-color: transparent;
}

/*******************
 * MATE Panel Menus *
 ******************/

 /*Make backgrounds of main menus slightly transparent black */

	/*NOTE: alpha value gets applied BOTH to menu and menushell for doubled opacity*/

.mate-panel-menu-bar .menu,
.mate-panel-menu-bar .menu,
.menu#cpufreq-menu /*For hacked Ubuntu indicator-cupfreq until it catches up */
 {
	background-color: alpha(black,0.7);
	border-image: none;
	border-style: solid;
	border-color: #888a85;
	border-width: 3px 3px 3px 3px;
	border-radius:10px;
	font: normal;	
	padding: 0px 0px 0px 0px;  /*Kill double borders on some menus */
}


 /*Font used on panel itself and "custom menu bar" */

.mate-panel-menu-bar, .gnome-panel-menu-bar  {
	font: bold;
}

/*Open up the main menu size a bit*/
/*This speeds up main menu navigation*/

.mate-panel-menu-bar .menubar .menu .menuitem,
.mate-panel-menu-bar .button .menu .menuitem {
	font: Condensed 12;
	padding: 2px 8px;
}

/*Smaller font on other menus so they don't look ballooned*/

.mate-panel-menu-bar .menu .menuitem {
	font: Condensed 11;
}

/*Keep selected menuitem image off main panel menubar*/

.mate-panel-menu-bar .menubar > .menuitem:hover{
	background-image:none;
	background-color:transparent;
	border-image:none;
	border-width: 0px;
}

/*****************************
 * Window list and Buttons *
 *****************************/

/*window list button theme somewhere between GNOME and Cinnamon/GNOME */

.mate-panel-menu-bar .button, .gnome-panel-menu-bar .button,
.mate-panel-menu-bar .button:active, .gnome-panel-menu-bar .button:active {
	border-color: #333333;
	border-style: solid;
	background-image: none;
	border-width: 1px;
	background-color:alpha(@theme_bg_color, 0.15);
}

/*transparency on clock and show desktop buttons to follow main panel background*/

.button#showdesktop-button, .button#clock-applet-button
{
	background-color: transparent;
	border-width: 0px;
	padding: 0px;
	border-image:none;
	border-style: none;
}

NaTrayApplet, NaTrayApplet *  {
    -NaTrayApplet-icon-padding: 0;
}

WnckPager, WnckTasklist  {
	color: white;
	background-color: @theme_bg_color;

}

ClockBox * {
	color: white;
	font: bold;
	background-color:transparent;
}

/*******************
 * MATE Volume Control and Power Manager's brightness slider *
 ******************/
/*Set up the volume control and brightness slider frames to look like the menu theme */

.mate-panel-applet-slider .frame,
.mate-panel-menu-bar .frame{ 
	background-color: alpha(black, 0.8);
	border-image: none;
	border-style: solid;
	border-color: #888a85;
	border-width: 2px;
	border-radius:6px;
	padding: 0px;
	margin: 0px;
}

.mate-panel-applet-slider .frame .frame,
.mate-panel-menu-bar .frame .frame{ 
	background-color:transparent;
	border-image: none;
	border-style:none;
	border-radius:0px;
	padding: 0px;
}

/*******************
 *Calendar Window *
 ******************/

/*custom named toplevel widget */
GtkWindow#MatePanelPopupWindow, /*this is the current name from mate-panel 1.11.0 and later*/
GtkWindow#calendarwindow 		/*Deprecated widget name from early versions*/
  {
	background-color:transparent;  
} 

CalendarWindow .frame {
	background-color:alpha(black,0.85);
	border-image: none;
	border-style: solid;
	border-color: #888a85;
	border-width: 3px;
	border-radius:10px;
	
}

/*************
 *GtkCalendar *
 *************/

GtkCalendar {
	padding: 6px 3px 1px 6px;
	font: Condensed 12;
}

GtkCalendar:selected {
	background-color: transparent;
	background-image: url("assets/calendar-selected-bg.svg");
	background-position: center;
	background-repeat: no-repeat;
	text-shadow: 1px 1px alpha(@theme_fg_color, 0.3);
	font: bold;
}

GtkCalendar.view {
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
	border-image:none;
	border-color: transparent;
	padding: 2px;
    background-color:transparent;
	background-image: url("assets/calendar_grid.svg");
	background-repeat: no-repeat;
}

#MatePanelPopupWindow GtkCalendar.view{
	background-image: -gtk-scaled(url("assets/calendar_grid_340.svg"));
	background-repeat: no-repeat;
}

GtkCalendar.header {
	padding: 2px;
	border-radius: 0;
	border-style: none;
	border-width:0px;
	border-image:none;
	background-color:transparent;
}

GtkCalendar.button,
GtkCalendar.button:insensitive {
	background-image: none;
	background-color: transparent;
}

.highlight,
GtkCalendar.highlight {
	background-color: transparent;
	border-radius: 0;
	padding: 0px;
	border-width: 0px;
}
